
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 15%);
    border-radius: 15px;
    
    width: 500px;
    height: 500px;
}

.label-nome{
    padding-top: 50px;
}

.cadastro-h3{
    padding-top: 20px;
}

.cadastro-filho{
    margin: auto;
}


/*Professor é aqui*/

.user-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.button {
    margin-top: 10px;
}

