
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #DDA0DD;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 15%);
    border-radius: 15px;
    
    width: 500px;
    height: 500px;
}

.cadastro-filho{
    font-size: 25px;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

label{
    display: block;
    font-size: 20px;
}

button{
    height: 35px;
    width: 255px;
    border-radius: 5px;
}

/*Professor é aqui*/

.user-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}


